[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=\D:\FinanceTracker\mysite
ExecStart=\D:\FinanceTracker\venv\Lib\site-packages --access-logfile - --workers 3 --bind unix:\D:\FinanceTracker\mysite\mysite\blog.sock blog.wsgi:application

       
[Install]
WantedBy=multi-user.target